body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

canvas {
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;

}

a {
    font-family: 'Passions Conflict', cursive;
    font-size: 30px !important;
    width: 200px;
    border-radius: 0px !important;
    background-color: black; 
    color:white;
    padding: 20px;
}